<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
  <div class="content">
      {{{header}}}
      {{{mainnav}}}
    <div class="content80 clearfix">
        {{{infolist}}}
        <div class="width15 height100"></div>
        <div class="info_detail width85">
        <div class="nav">
            <ul id="nav">
            <li class="nav_margin active">已回复 </li>
            <li class="nav_margin">未回复</li>
            </ul>
        </div>
        <div class="cont" id="cont">
            <div class="common_table" id="complants">
            <table cellspacing="0">
                <thead>
                <tr>
                    <td width="100px">序号</td>
                    <td width="550px">标题</td>
                    <td width="200px">回复时间</td>
                    <td width="115px" style="padding-left: 10px;">操作</td>
                </tr>
                </thead>
                <tbody id="complants_list">
                </tbody>
            </table>
            </div>
            <div class="page_wrap">
                <div class="page" id="page" style="margin-left: -1%;"> </div>
            </div>
            <div class="nodata">
                <img src="../../common/images/portal/404.png" alt="暂无数据">
                <p>暂无数据</p>
            </div>
          </div>
        </div>
    </div>
    {{{footer}}}
  </div>
</body>

</html>