  <%-include ../../public/header.ejs%>
  <div class="container-fluid">
    <div class="row">
      <%-include ../../public/leftmenu.ejs%>
      <div class="col-sm-10">
        <ol class="breadcrumb">
          <li class="active">用户管理 </li>
          <li class="active">用户列表 </li>
        </ol>
        <div class="panel panel-default">
          <div class="panel-heading">
            编辑用户
          </div>
          <div class="panel-body">
            <div class="table-responsive input-form">
              <form action="/admin/user/doedit" enctype="multipart/form-data" method="post">
                <ul>
                  <input type="hidden" value='<%=list[0]._id%>' name='_id'>
                  <li> 用户名称: <input type="text" name="username" value='<%=list[0].username%>' /></li>
                  <li> 用户图片: <img src="/<%=list[0].pic%>" alt=""></li>
                  <li> 上传图片: <input type="file" name="pic" value="<%=list[0].pic%>" /></li>
                  <li> 用户描述: <textarea name="description" id="" cols="60" rows="8"><%=list[0].description%></textarea>
                  </li>
                  <li> <br /> <button type="submit" class="btn btn-default">提交</button> </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>

  </html>
